*{
    margin: 0;
    padding: 0;
}
.div-container{
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
     
}
.second-container{
    padding: 197px 72px 365px 200px;
}
     

.text-container{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    display: flex;
    width: 634px;
    margin-top: 15px;
}
.btn-primary{
     border-radius: 8px;
    background: #E55473;
    padding: 20px 45px;
    border: none;
    margin-top: 15px;
    color: white;
     
}
.img-class{
    width: 375px;
    height: 550px;
    padding: 10px;
}
.section-header{
    background: #FFF;
    text-align: center;
    padding-top: 100px;
    
}
.section-title{
    font-size: 40px; 
}
.section-description{
    color: rgba(39, 39, 39, 0.60); 
    margin-top: 15px;
}
.section-img{
    padding: 10px;
}
.section-img-one{
    background: rgba(160, 35, 100, 0.15);
    border-radius: 300px 300px 0 0;
    padding: 90px 50px 0px 50px;
    width: 300px;
    height: 340px; 
}
.section-img-two{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 110px 47px 1px 47px;
     /* width: 140px; */
     /* height: 200px; */
     width: 300px;
     height: 340px; 
}
.section-img-three{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 90px 48px 0px 50px;
    width: 300px;
    height: 355px; 

}
.section-text{
    display: flex;
    justify-content: space-around; 
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    padding-left: 70px;
}
.optional{
    margin: 80px;
    border-radius: 8px;
    
    margin-top: 50px;
    color: rgba(39, 39, 39, 0.80); 
    background: rgba(39, 39, 39, 0.05);
    font-size: 24px; 
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 90px 0 140px 100px;
}
.main-container{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    
}
.header-one{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding: 150px 0 0 200px;
    
}
.text-one{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    padding-left: 190px;
    font-size: 18px;
     margin-top: 15px;
    font-weight: 400;
}
.btn{
    background:#E55473;
    border-radius: 10px;
    padding: 20px 40px;
    color: white;
    border: none;
    margin-left: 290px;
    margin-top: 15px;
    width: 140px;
    
}
#img{
    /* padding: 130px 400px 100px 400px; */
    padding-left: 200px;
    padding-top: 100px;
    width: 310px;
    height: 320px; 
     
 
}
.insta-text{
    text-align: center;
    color: #272727;
    font-size: 40px;
    margin-top: 30px;
}
.text-two{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}
.rectangle-image{
    width: 320px;
    height: 376px;
    display: flex;
    margin-top: 20px;
    gap: 10px;
}